<!DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag    "posts", media: "all", "data-turbolinks-track" => true %>
<link href='http://fonts.googleapis.com/css?family=Henny+Penny' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="body">
<h1><span class="title">Mis posts</span>
<%= link_to "Nuevo Post", new_post_path, :class =>'btn btn-info btn-lg' %></h1>
	<% @posts.each do |post| %>
    <div class="post">
    <div class="banner-post"><h3><%=post.title%></h3>
    
    <div class="btn-group " id="botonera">
    <%= link_to edit_post_path(post.id), :class => 'btn btn-default btn-sm' do %>
    <span class="glyphicon glyphicon-edit"></span>
    <% end %>
   	<%= link_to post_path(post), method: :delete , data: {confirm: '¿Estas seguro?'}, :class => 'btn btn-default btn-sm' do%>
   	<span class="glyphicon glyphicon-trash"></span>
   	<%end%>
    </div>
    </div>
    <p><%=post.text%></p>
    <%= link_to "Read more", post_path(post), :class => 'btn btn-primary',:id =>'read-button' %>

    </div>
	<% end%>

	<div class="aside">

	<!--agregar el buscador-->
	<form class="form-inline" role="form">
  <div class="form-group">
    <input type="text" class="form-control" id="buscador" placeholder="Buscar...">
  	<button type="submit" class="btn btn-success">Search</button>
  	<div>
</form>
	</div>
    </div>


</body>
</html>