<html doctype>
<head>
<%= stylesheet_link_tag    "posts", media: "all", "data-turbolinks-track" => true %>
</head>
<h1>Mis posts</h1>
<div class="body">
	<% @posts.each do |post| %>
    <div class="post">
    <div class="banner-post"><h3><%=post.title%></h3>
    
    <div class="btn-group " id="botonera">
    <%= link_to posts_path(post.id), :class => 'btn btn-default btn-sm' do %>
    <span class="glyphicon glyphicon-edit"></span>
    <% end %>
   	<%= link_to post_path(post.id), method: :delete , data: {confirm: '¿Estas seguro?'}, :class => 'btn btn-default btn-sm' do%>
   	<span class="glyphicon glyphicon-trash"></span>
   	<%end%>
    </div>
    </div>
    <p><%=post.text%></p>
    <%= link_to "Read more", posts_path(post.id), :class => 'btn btn-primary' %>
    </div>
	<% end%>
	</div>

<%= link_to "Nuevo Post", new_post_path %>