<div class="post-complete">
    <div class="banner-post"><h3><%=post.title%></h3></div>
    <p><%=post.text%></p>
    </div>

<h2>Comentarios</h2>
<%= render @post.comments %>

<h2>Agregar Comentario:</h2>
<%= render "comments/form" %>


<%= link_to "Volver",posts_path %>
<%= link_to 'Edit', edit_post_path(@post)%>